.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-jar {
  height: 80vmin;
}

.Slip-red {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30%;
  width: 75%;
  margin: 20px auto;
  background: #e94343;
  border: 2px solid black;
  position: absolute;
}

.Slip-yellow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30%;
  width: 75%;
  margin: 20px auto;
  background: #ffd966;
  border: 2px solid black;
  position: absolute;
}

.Slip-purple {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30%;
  width: 75%;
  margin: 20px auto;
  background: #623878;
  border: 2px solid black;
  position: absolute;
}

.Slip-green {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30%;
  width: 75%;
  margin: 20px auto;
  background: #00ff80;
  border: 2px solid black;
  position: absolute;
}

.Slip-blue {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30%;
  width: 75%;
  margin: 20px auto;
  background: #0080ff;
  border: 2px solid black;
  position: absolute;
}

.App-button-red {
  background-color: #e94343;
}

.App-button-yellow {
  background-color: #ffd966;
}

.App-button-purple {
  background-color: #623878;
}

.App-button-green {
  background-color: #00ff80;
}

.App-button-blue {
  background-color: #0080ff;
}

.App-button {
  align-self: center;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  margin-right: 10px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.App-button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.App-button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}